<div class="sidebar_main_open">
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">

                <div id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                    <span class="sSwitchIcon"></span>
                </div>

                <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                    <span class="sSwitchIcon"></span>
                </a>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <li data-uk-dropdown="{mode:'click'}" class="uk-hidden-small">
                            <a href="#" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE0BE;</i><span class="uk-badge">12</span></a>
                            <div class="uk-dropdown uk-dropdown-xlarge uk-dropdown-flip uk-dropdown-scrollable">
                                <!-- list of msg here -->
                            </div>
                        </li>
                        <li data-uk-dropdown="{mode:'click'}">
                            <a href="#" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE7F4;</i><span class="uk-badge">4</span></a>
                            <div class="uk-dropdown uk-dropdown-xlarge uk-dropdown-flip uk-dropdown-scrollable">
                                <!-- alert here -->
                            </div>
                        </li>
                        <li data-uk-dropdown="{mode:'click'}">
                            <a href="#" class="user_action_image"><img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt="" /></a>
                            <div class="uk-dropdown uk-dropdown-small uk-dropdown-flip">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a href="#">My profile</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <aside id="sidebar_main">
        <a href="#" class="uk-close sidebar_main_close_button"></a>
        <div class="sidebar_main_header">
            <div class="sidebar_logo"><a href="index-2.html"><img src="assets/img/logo_main.png" alt="" height="15" width="71" /></a></div>
        </div>
        <div class="menu_section">
            <ul>
                <!--class="act_section"-->
                <li>
                    <a href="#">
                        <span class="menu_icon glyphicon glyphicon-home"></span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu_icon glyphicon glyphicon-cog"></span>
                        Setting
                    </a>
                </li>
                <li>
                    <a href="index-2.html">
                        <span class="menu_icon glyphicon glyphicon-asterisk"></span>
                        Seed Request
                    </a>
                </li>
                <li>
                    <a href="index-2.html">
                        <span class="menu_icon glyphicon glyphicon-envelope"></span>
                        Notification
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu_icon glyphicon glyphicon-list-alt"></span>
                        History
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu_icon glyphicon glyphicon-off"></span>
                        Logout
                    </a>
                </li>

            </ul>
        </div>
    </aside>

    <div id="page_content">
        <div id="page_content_inner" ui-view>
        </div>
    </div>
</div>